<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @student.code %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Sex:</strong>
  <% if @student.sex == 1 %> Nam <% elsif @student.sex == 0 %> Nữ <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Class room:</strong>
  <%= @student.class_room.name %>-<%= @student.class_room.school_year.code %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
