<%= simple_form_for(@teacher_class) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :subject %>

    <%= f.association :teacher %>

    <%= f.association :class_room, :label_method => lambda { |class_room| "#{class_room.name}-#{class_room.school_year.code}" } %>

    <%= f.input :start_date %>

    <%= f.input :end_date %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
