<p>
  <strong>Subject:</strong>
  <%= @teacher_class.subject.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @teacher_class.teacher.name %>
</p>

<p>
  <strong>Class room:</strong>
  <%= @teacher_class.class_room.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @teacher_class.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @teacher_class.end_date %>
</p>

<%= link_to 'Edit', edit_teacher_class_path(@teacher_class) %> |
<%= link_to 'Back', teacher_classes_path %>
