<h1>Teachers</h1>

<div class="row">
  <div class="col-lg-4 pull-left">
    <%= link_to 'New teacher', new_teacher_path,class: "btn btn-primary pull-left" %>
  </div>
  <div class="col-lg-4 pull-right">
    <%= simple_form_for :search, url: teachers_path,:html =>{id: 'movie_search'}, :method => :get do |f| %>
        <div class="input-group">
          <%= f.text_field :name, placeholder: 'Seach by name',autocomplete:"off", class: 'form-control',id:'search',:value => (params[:search].nil?)?'':params[:search][:name] %>
          <span class="input-group-btn">
              <%= f.button :submit, 'Search', class: 'btn btn-default' %>
            </span>
        </div>
        </div>
    <% end %>
    </div>
<table class="table">
  <thead>
  <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Birthday</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Start date</th>
      <th>Isheadmaster</th>
      <th>Subject</th>
      <th>Certificate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.code %></td>
        <td><%= teacher.birthday %></td>
        <td><%= teacher.phone %></td>
        <td><%= teacher.address %></td>
        <td><%= teacher.start_date %></td>
        <td><%= check_box_tag 'isHeadMaset', 'yes', teacher.isHeadMaster,disabled: true %></td>
        <td><%= teacher.certificate.name %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

